doctype html
html(lang = 'eng')
  head
    title= title

    //Required meta tags
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //Bootstrap CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

    //CSS
    link(rel = 'stylesheet' href='/stylesheets/style.css')
    block stylesheets

    block scripts
  body
    header
      div(class="navbar-container container d-flex justify-content-lg-between")
        nav(class='navbar navbar-expand-lg w-100')
          a(class='navbar-brand' href='/') Carnivous Plants
          button(class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
          div(class="collapse navbar-collapse" id="navbarNav")
            ul(class="navbar-nav")
              li(class="plants dropdown")
                a(class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="100,10") Plants
                div(class="dropdown-menu dropdown-menu-left text-center" aria-labelledby="navbarDropdownMenuLink")
                  -var plant_list = process.env.PLANTS_LIST.split(",")
                  each val in plant_list
                    a(class="dropdown-item" href="/plants/"+val)=val.charAt(0).toUpperCase() + val.slice(1)
              li(class="growing dropdown")
                a(class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Growing plants
                div(class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink")
                  a(class="dropdown-item" href="/growingplants/enviroment") Enviroment
                  a(class="dropdown-item" href="/growingplants/propagation") Propagation
                  a(class="dropdown-item" href="/growingplants/soils") Soils
                  a(class="dropdown-item" href="/growingplants/water") Water
                  a(class="dropdown-item" href="/growingplants/light") Light
                  a(class="dropdown-item" href="/growingplants/feeding") Feeding
                  a(class="dropdown-item" href="/growingplants/pests") Pests
              li(class="nav-item")
                a(class="nav-link" href="/about") About
    main
      block content
    footer(class="text-light")
      div(class="row")
        div(class="col-sm")
          a(href="/about") About us
        div(class="col-sm")
          a(href="/contact") Contact
      div(class="row")
        p(class="text-center" id="copyright") &copy Nobody 
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")