#image_of_plant {
    padding: 0px;
    margin-bottom: 20px;
    background-color: rgba(102, 100, 100, 0.685);
}

#image_of_plant img {
    width: auto;
    max-height: 500px;
}

@media(max-width:576px) {
    #image_of_plant img {
        max-width: 75%;
        height: auto;
    }
}

.article_container {
    text-align: center;
}

.article_container img {
    width: auto;
    max-height: 200px;
}

.article_container br {
    margin-bottom: 10px;
}