#image_of_plant {
    padding: 0px;
    margin-bottom: 20px;
    background-color: rgb(154, 153, 140);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#image_of_plant img {
    width: auto;
    max-height: 500px;
}

@media(max-width: 600px) {
    #image_of_plant img {
        max-width: 75%;
        height: auto;
    }
    .plant_images {
        margin:10px 0px !important;
    }
}

.plant_images {
    width: auto;
    max-height: 250px;
    margin: 10px;
    box-shadow: 2px 2px 10px gray;
}

article{
    background-color: rgb(104, 105, 94);
}

.article-col {
    margin: 10px 0px;
}