body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(63, 66, 66);
}

/* .navbar{
  padding: 20px 200px;
} */

.navbar a {
  color: grey;
}

.dropdown-menu{
  border:5px;
}

@media (min-width:992px) {
  .dropdown-menu{
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}



footer {
  padding-top: 10px;
  text-align: center;
}